<%- include('layout/header') %>
<%- include('layout/navbar') %>
<body>
    <div class="container">
        <% if (message) { %>
            <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
                <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong><%= message.message %></strong>
            </div>
        <% } %>
        <div class="row">
            <div class="col-lg-6 mx-auto mt-4">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">
                        <h3 class="text-light">Add New Ticket</h3>
                    </div>
                    <div class="card-body">
                        <form action="/add" method="post" id="add-form" enctype="multipart/form-data">
                            <div class="mb-3">
                            <label for="office_room">Office Room</label>
                            <input type="name" name="office_room" class="form-control form-control-lg"
                            placeholder="Enter office room" required />
                            </div>
                            <div class="mb-3">
                            <label for="description">Description</label>
                            <input type="description" name="description" class="form-control form-control-lg"
                            placeholder="Enter description" required />
                            </div>
                            <div class="mb-3">
                            <label for="image" class="form-label">Select Image</label>
                            <input class="form-control form-control-lg" type="file" name="image" required />
                            </div>
                            <div class="mb-3 d-grid">
                            <input type="submit" name="submit" value="Add Ticket" class="btn btn-primary btn-lg">
                            </div>      
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include('layout/scripts') %>