<%- include('layout/header') %>
<%- include('layout/navbar') %>
<body>
    <div class="container">
        <% if (message) { %>
            <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
                <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong><%= message.message %></strong>
            </div>
        <% } %>
        <div class="row">
            <div class="col-lg-6 mx-auto mt-4">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">
                        <h3 class="text-light">Register</h3>
                    </div>
                    <div class="card-body">
                        <form action="/register" method="post" id="register-form">
                            <div class="mb-3">
                            <label for="employee_id">Employee ID</label>
                            <input type="text" name="employee_id" class="form-control form-control-lg" placeholder="Enter Employee ID" required />
                            </div>
                            <div class="mb-3">
                            <label for="name">Name</label>
                            <input type="text" name="name" class="form-control form-control-lg"
                            placeholder="Enter name" required />
                            </div>
                            <div class="mb-3">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control form-control-lg"
                            placeholder="Enter email" required />
                            </div>
                            <div class="mb-3">
                            <label for="office_room">Office Room</label>
                            <input type="text" name="office_room" class="form-control form-control-lg"
                            placeholder="Enter office room" required />
                            </div>
                            <div class="mb-3">
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control form-control-lg"
                            placeholder="Enter password" required />
                            </div>
                            <div class="mb-3 d-grid">
                            <input type="submit" name="submit" value="Register" class="btn btn-primary btn-lg">
                            </div>      
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include('layout/scripts') %>